# Ignore everything by default.
*

# Un-ignore these files.
!src
!src
!tests
!tests
!examples
!examples/mud.scm
!*.h
!*.c
!Makefile.am
!configure.ac
!README.md
!COPYING
!.gitignore
!autogen.sh

# Re-ignore these files.
config.h
